replicaCount: 2

image:
  repository: ""   # injected via CI/CD
  tag: ""          # injected via CI/CD
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 400m
    memory: 512Mi

envFrom:
  - secretRef:
      name: titanic-api-secret

env:
  - name: DATABASE_URL
    valueFrom:
      secretKeyRef:
        name: titanic-api-secret
        key: SQLALCHEMY_DATABASE_URI
  - name: APP_ENV
    value: prod
  - name: LOG_LEVEL
    value: info

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 60

livenessProbe:
  httpGet:
    path: /health
    port: 80
  initialDelaySeconds: 15
  periodSeconds: 20
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: 80
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3

serviceAccount:
  create: true
  name: titanic-api
  automount: true
  annotations: 
       eks.amazonaws.com/role-arn: arn:aws:iam::479664683730:role/external-secrets-operator-role

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []
